.layout {
  width: 100%;
  height: 3000px;
  margin: 0 auto;
  position: relative;
  background-color: white;
  max-width: 640px;
  min-width: 320px;
  /*页头部分*/
  /*主体内容部分*/
}
.layout .header {
  width: 100%;
  height: 34px;
  line-height: 34px;
  position: fixed;
  background-color: #ccc;
  box-shadow: 0 0 7px 1px #ccc;
  top: 0px;
}
.layout .header > a {
  margin-left: 10px;
}
.layout .header > span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.layout .main {
  margin-top: 25px;
  width: 100%;
  padding: 10px 10px;
}
.layout .main > .section {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
}
.layout .main > .section > a > img {
  width: 100%;
}
.layout .main > .section > p {
  height: 30px;
  line-height: 30px;
  margin: 0px;
  text-align: center;
}
